
<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"

      >

    <mat-autocomplete autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onSelectedOption( $event )">
      <mat-option *ngFor="let hero of heroes" [value]="hero">
        {{hero.superhero}}
      </mat-option>

      <mat-option
        *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0"
        value="">
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Mostramos por pantalla la sugerencia que hemos pulsado-->
  {{ selectedHero | json }}

    {{searchInput.value | json}}
    <!-- true o false si ya ha sido tocado o no -->
    {{searchInput.touched | json}}
    <!-- true o fasle si tiene el valor original con el que fue creado -->
    {{searchInput.pristine | json}}

</div>
